{% extends 'base.html' %}

{% block title %}Device Data{% endblock %}

{% block header %}Device Data{% endblock %}

{% block content %}
<ul class="data-list">
{% for entry in data %}
    <li class="data-item">
        <span class="data-info">{{ entry[1] }}: {{ entry[2] }}</span>
        <div class="action-buttons">
            <form action="/clear_data/{{ entry[0] }}" method="post" class="clear-form">
                <button type="submit" class="clear-button">Clear</button>
            </form>
            <form action="/generate_qrcode/{{ entry[0] }}" method="post" class="qrcode-form">
                <button type="submit" class="qrcode-button">QR</button>
            </form>
        </div>
    </li>
{% endfor %}
</ul>
<nav>
    <ul>
        <li><a href="/clear_data">Clear All Data</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
{% endblock %}
