{% extends 'base.html' %}

{% block title %}Registered Devices{% endblock %}

{% block header %}Registered Devices{% endblock %}

{% block content %}
<ul>
    {% for device in devices %}
    <li class="device-item">
        <span class="device-info">{{ device[1] }} - {{ device[2] }}</span>
        <form action="/delete_device/{{ device[0] }}" method="post" class="delete-form">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<nav>
    <ul>
        <li><a href="/clear_devices">Delete All Devices</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
{% endblock %}
